@import "tailwindcss";

@theme {
  --color-primary: #ced2d3;
  --color-secondary:#1D2671 ;
   --color-accent: #00C9FF;
  

}
/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height for horizontal scrollbars */
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray track */
  border-radius: 5px; /* Rounded corners for the track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker gray thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #091113; /* Even darker gray on hover */
}